target/classes/itunesconndemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:itunes="http://www.mulesoft.org/schema/mule/itunes" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/itunes http://www.mulesoft.org/schema/mule/itunes/current/mule-itunes.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <itunes:config name="Itunes__Configuration" doc:name="Itunes: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="itunesconndemoFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/itunes/artist/{value}" doc:name="HTTP"/>
        <itunes:find-on-artist config-ref="Itunes__Configuration" term="#[message.inboundProperties.'http.uri.params'.value]" doc:name="Itunes"/>
    </flow>
</mule>
